<footer class="footer">
    <section class="footer__section">
        <h4 class="footer__header">
            Où nous sommes ?
        </h4>
        <address class="footer__address">Le Pont
            147 Avenue de Clichy
            75017 Paris
        </address>
    </section>

    <section class="footer__section">
        <h4 class="footer__header">
            Liens
        </h4>
        <ul class="footer__links">
            <li>
                <a class="footer__link" href="http://www.paris.catholique.fr/">Diocèse de Paris</a>
            </li>
            <li>
                <a class="footer__link" href="http://reseau-saint-laurent.org/">Réseau Saint Laurent</a>
            </li>
            <li>
                <a class="footer__link" href="http://www.stjosephdesepinettes.org/">Paroisse Saint Joseph des
                    Epinettes</a>
            </li> 
            <li>
                <a class="footer__link" href="http://saintmichel-paris.fr/">Paroisse Saint Michel</a>
            </li>
            <li>
                <a class="footer__link" href="http://www.secours-catholique.org/">Secours Catholique</a>
            </li>
            <li>
                <a class="footer__link" href="http://www.pourlamourdupere.com/">Pour l'amour du Père</a>
            </li>
        </ul>
    </section>
</footer>