<section class="section" aria-labelledby="section_news" >
    {{ $sectionNews := .Site.GetPage  "news" }}
    <h3 id="section__news" class="section__title">{{ $sectionNews.Title }}</h3>
    {{ $stories := (where $sectionNews.RegularPages.ByDate.Reverse "Section" "news" )}}
    {{ range first 3 $stories }}
        {{ partial "news/news_card" . }}
    {{ end }}
    <div class="section__actions">
        <a class="section__link" href="{{ $sectionNews.Permalink }}">Voir tout</a>
    </div>
</section>

<section class="section">
    <article class="objective">
        <h4 class="objective__title">&Eacute;changer</h4>
        <p class="objective__description">
            Prendre un repas, inventer des temps de convivialit&eacute; et faciliter la rencontre des cultures
        </p>
    </article>
    <article class="objective">
        <h4 class="objective__title">Orienter</h4>
        <p class="objective__description">
            Informer sur les diff&eacute;rents services sociaux pouvant r&eacute;pondre aux probl&egrave;mes rencontr&eacute;s
        </p>
    </article>
    <article class="objective">
        <h4 class="objective__title">R&eacute;ins&eacute;rer</h4>
        <p class="objective__description">
            Permettre de retrouver une autonomie sociale et professionnelle.
        </p>
    </article>
</section>


